<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text pull-right">
            <p style="text-decoration:none">Réalisé Par : 
                    <a href="#" style="text-decoration:none" >LAGHEZALI</a> & 
                    <a href="#" style="text-decoration:none" >ELKAISSI</a>
            </p>
        </div>
    </div>
</nav>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>